.ChildBox{
    position: fixed;
    top: 8%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.ChildBox > .ChildContent {
    background: rgb(255, 255, 255);
    height: 100%;
    width: 40%;
    float: right;
}

.ModelBox {
    float: right;
}
:global .CodeMirror{
    height: 100px;
    /* width: 550px; */
    font-size: 9px;
    line-height: 11px;
}
/* :global .ant-modal{
    float: right;
    width: 40% !important;
    top:0;
/* }  */

.fullscreen {
    z-index: 100;
    position: absolute !important;
    left: 660px;
    /* top: -10px; */
}

.delAction {
    cursor: pointer;
    position: absolute;
    width: 35px;
    padding: 10px;
    text-align: center;
    top: 63px;
    right: 20px;
    border: 1px dashed #d9d9d9;
    border-radius: 5px;
}
